<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="icon" href="static/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/autorization.css') }}">
</head>
<body>
    <div class="autorization-form-container">
        <h2>Авторизация</h2>
        {% for message in get_flashed_messages(): %}
            <p style="margin-top: 1em; margin-bottom: 1em; color: red;">{{message}}</p>
        {% endfor %}
        <form action="/authorization" class="autorization-form" method="POST">
            <input type="text" name="login" id="login" placeholder="Логин">
            <input type="password" name="password" id="password" placeholder="Пароль">
            <input type="submit" value="Войти" id="entry">
        </form>
    </div>
</body>
</html>