<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обучения сотрудников</title>
    <link rel="icon" href="static/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation-buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/news.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/clients-data.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/learnings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/commands-list.css') }}">
    <script src="{{ url_for('static', filename='scripts/commands-list.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/calendar.js') }}"></script>
</head>
<body>
    <header role="banner">
        <div class="left-info">
            <div class="logo-image">
                <img src="{{ url_for('static', filename='images/logo.png') }}" onclick="location.href='/';">
            </div>
            <div class="page-title">><span>Обучения сотрудников</span></div>
        </div>
        <div class="right-info">
            <div class="user">{{user_information[1]}}</div>
            <div class="user-photo">
                <img src="{{ url_for('static', filename='company_files/' + user_information[0]) }}" alt="" onclick="myFunction()" class="dropbtn">
                <div id="myDropdown" class="dropdown-content">
                  <a href="/user-profile">Профиль</a>
                  <a href="/out">Выйти</a>
                </div>
            </div>
        </div>
    </header>
    <main role="main">
        <div class="nav-buttons">
            <a href="/">Главная</a>
            <a href="/clients-events">События сотрудников</a>
            <a href="/clients-learnings">Календарь обучений</a>
            <a href="/clients-weekends">Календарь временного отсутствия</a>
            {% if is_admin: %}
                <a href="/resume">Подбор персонала</a>
            {% endif %}
        </div>
        <div class="search-block">
            <div class="top-part-of-search-block">
                <div class="select-form-block">
                    <form action="" class="select-form">
                        <p>Выбор подразделения</p>
                        <select name="department" id="department">
                            <option value="1">Первое подразделение</option>
                            <option value="2">Второе подразделение</option>
                            <option value="3">Третье подразделение</option>
                        </select>
                        <p>Выбор сотрудника</p>
                        <select name="client" id="client">
                            <option value="1">Первый сотрудник</option>
                            <option value="2">Второй сотрудник</option>
                            <option value="3">Третий сотрудник</option>
                        </select>
                        <input type="submit" value="Найти">
                    </form>
                </div>
                <div class="calendar">
                    <div class="calendar-header">
                        <button onclick="prevMonth()">&#10094;</button>
                        <span id="monthYear"></span>
                        <button onclick="nextMonth()">&#10095;</button>
                    </div>
                    <div class="calendar-body">
                        <table class="calendar-table">
                            <thead>
                                <tr>
                                    <th>Пн</th>
                                    <th>Вт</th>
                                    <th>Ср</th>
                                    <th>Чт</th>
                                    <th>Пт</th>
                                    <th>Сб</th>
                                    <th>Вс</th>
                                </tr>
                            </thead>
                            <tbody id="calendarDays"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bottom-part-of-search-block">
                <div class="all-learnings">
                    <div onclick="location.href='learning-page.html';" class="one-learning">
                        <div class="learning-title">
                            <p>Название</p>
                        </div>
                        <div class="learning-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aspernatur inventore similique debitis ratione ipsam quod iste totam recusandae, atque sit, quibusdam asperiores unde optio, incidunt fuga possimus quos ipsa!</p>
                        </div>
                        <div class="learning-bottom-part">
                            <div class="learning-date">
                                <img src="static/images/calendar.png">
                                <span>05.12.2024</span>
                            </div>
                            <div class="learning-author">
                                <img src="static/images/user.jpg" class="user-img">
                                <span>Иванов А. А.</span>
                            </div>
                        </div>
                    </div>
                    <div onclick="location.href='learning-page.html';" class="one-learning">
                        <div class="learning-title">
                            <p>Название</p>
                        </div>
                        <div class="learning-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aspernatur inventore similique debitis ratione ipsam quod iste totam recusandae, atque sit, quibusdam asperiores unde optio, incidunt fuga possimus quos ipsa!</p>
                        </div>
                        <div class="learning-bottom-part">
                            <div class="learning-date">
                                <img src="static/images/calendar.png">
                                <span>05.12.2024</span>
                            </div>
                            <div class="learning-author">
                                <img src="static/images/user.jpg" class="user-img">
                                <span>Иванов А. А.</span>
                            </div>
                        </div>
                    </div>
                    <div onclick="location.href='learning-page.html';" class="one-learning">
                        <div class="learning-title">
                            <p>Название</p>
                        </div>
                        <div class="learning-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aspernatur inventore similique debitis ratione ipsam quod iste totam recusandae, atque sit, quibusdam asperiores unde optio, incidunt fuga possimus quos ipsa!</p>
                        </div>
                        <div class="learning-bottom-part">
                            <div class="learning-date">
                                <img src="static/images/calendar.png">
                                <span>05.12.2024</span>
                            </div>
                            <div class="learning-author">
                                <img src="static/images/user.jpg" class="user-img">
                                <span>Иванов А. А.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-block">
            <div class="search-bar">
                <img src="{{ url_for('static', filename='images/search.png') }}" id="toggle-select">
                <form action="/clients-learnings" class="search-form" method="GET">
                    <input type="text" name="news-search">
                    <select name="sort-type" id="sort-type-select">
                        <option value="title">По названию</option>
                        <option value="date">По дате</option>
                        <option value="author">По автору</option>
                    </select>
                    <input type="submit" hidden style="height: 0%;"/>
                </form>
                <img src="{{ url_for('static', filename='images/find-icon.png') }}" alt="">
            </div>
            <script>
                const img = document.getElementById('toggle-select');
                const select = document.getElementById('sort-type-select');
                img.addEventListener('click', () => {
                    if (select.style.display === 'none') {
                         select.style.display = 'block';
                    } else {
                         select.style.display = 'none';
                    }
                });
            </script>
            <div class="news">
                {% for news in all_news: %}
                    <div onclick="location.href='/news/{{news[0]}}';" class="one-news">
                        <div class="top-part">
                            <img src="{{ url_for('static', filename='company_files/' + news[5]) }}" class="one-news-image">
                            <div class="news-title">
                                <p>{{news[1]}}</p>
                            </div>
                            <div class="news-text">
                                <p>{{news[2]}}</p>
                            </div>
                        </div>
                        <div class="bottom-part">
                            <div class="news-date">
                                <img src="{{ url_for('static', filename='images/calendar.png') }}">
                                <span>{{news[3]}}</span>
                            </div>
                            <div class="news-author">
                                <img src="{{ url_for('static', filename='company_files/' + news[6]) }}" class="user-img">
                                <span>{{news[4]}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer role="contentinfo">
        <div class="top-information">
            <span>☎ +7(999)999-99-99</span>
            <span><img src="static/images/place-icon.png" class="place-icon-image">Москва, ул. Измайлова, д. 31</span>
            <div class="footer-icons">
                <img src="static/images/telegram-icon.png" onclick="location.href='https://web.telegram.org';">
                <img src="static/images/vk-icon.png" onclick="location.href='https://vk.com/feed';">
            </div>
        </div>
        <div class="bottom-information">
            © Все права защищены "ГК Дороги России" 2024 г.
        </div>
    </footer>
</body>
</html>