<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск сотрудников</title>
    <link rel="icon" href="static/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation-buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/news.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/personal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/commands-list.css') }}">
    <script src="{{ url_for('static', filename='scripts/commands-list.js') }}"></script>
</head>
<body>
    <header role="banner">
        <div class="left-info">
            <div class="logo-image">
                <img src="{{ url_for('static', filename='images/logo.png') }}" onclick="location.href='/';">
            </div>
            <div class="page-title">><span>Поиск сотрудников</span></div>
        </div>
        <div class="right-info">
            <div class="user">Пучков А. И.</div>
            <div class="user-photo">
                <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="" onclick="myFunction()" class="dropbtn">
                <div id="myDropdown" class="dropdown-content">
                  <a href="/user-profile">Профиль</a>
                  <a href="/out">Выйти</a>
                </div>
            </div>
        </div>
    </header>
    <main role="main">
        <div class="nav-buttons">
            <a href="/">Главная</a>
            <a href="/clients-events">События сотрудников</a>
            <a href="/clients-learnings">Календарь обучений</a>
            <a href="/clients-weekends">Календарь временного отсутствия</a>
            <a href="/resume">Подбор персонала</a>
        </div>
        <div class="search-block">
            <div class="select-form-block">
                <form action="" class="select-form">
                    <p>Выбор подразделения</p>
                    <select name="department" id="department">
                        <option value="1">Первое подразделение</option>
                        <option value="2">Второе подразделение</option>
                        <option value="3">Третье подразделение</option>
                    </select>
                    <p>Выбор сотрудника</p>
                    <select name="client" id="client">
                        <option value="1">Первый сотрудник</option>
                        <option value="2">Второй сотрудник</option>
                        <option value="3">Третий сотрудник</option>
                    </select>
                    <input type="submit" value="Найти">
                </form>
            </div>
            <div class="user-card">
                <div class="top-part-of-user-card">
                    <h2>Пучков Андрей Игоревич</h2>
                    <img src="static/images/user.jpg">
                </div>
                <p>Рабочий телефон: +7(999)999-99-99</p>
                <p>Начальник: Петров Петр Петрович</p>
                <p>Электронная почта: mail@mail.ru</p>
                <p>Кабинет: 101</p>
                <p>Дата рождения: 12.12.2000</p>
                <p>Дополнительная информация: отсутсвует</p>
            </div>
        </div>
        <div class="news-block">
            <div class="search-bar">
                <img src="{{ url_for('static', filename='images/search.png') }}" id="toggle-select">
                <form action="/personal" class="search-form" method="GET">
                    <input type="text" name="news-search">
                    <select name="sort-type" id="sort-type-select">
                        <option value="title">По названию</option>
                        <option value="date">По дате</option>
                        <option value="author">По автору</option>
                    </select>
                    <input type="submit" hidden style="height: 0%;"/>
                </form>
                <img src="{{ url_for('static', filename='images/find-icon.png') }}" alt="">
            </div>
            <script>
                const img = document.getElementById('toggle-select');
                const select = document.getElementById('sort-type-select');
                img.addEventListener('click', () => {
                    if (select.style.display === 'none') {
                         select.style.display = 'block';
                    } else {
                         select.style.display = 'none';
                    }
                });
            </script>
            <div class="news">
                {% for news in all_news: %}
                    <div onclick="location.href='/news/{{news[0]}}';" class="one-news">
                        <img src="{{ url_for('static', filename='company_files/' + news[5]) }}" class="one-news-image">
                        <div class="news-title">
                            <p>{{news[1]}}</p>
                        </div>
                        <div class="news-text">
                            <p>{{news[2]}}</p>
                        </div>
                        <div class="bottom-part">
                            <div class="news-date">
                                <img src="{{ url_for('static', filename='images/calendar.png') }}">
                                <span>{{news[3]}}</span>
                            </div>
                            <div class="news-author">
                                <img src="{{ url_for('static', filename='company_files/' + news[6]) }}" class="user-img">
                                <span>{{news[4]}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer role="contentinfo">
        <div class="top-information">
            <span>☎ +7(999)999-99-99</span>
            <span><img src="static/images/place-icon.png" class="place-icon-image">Москва, ул. Измайлова, д. 31</span>
            <div class="footer-icons">
                <img src="static/images/telegram-icon.png" onclick="location.href='https://web.telegram.org';">
                <img src="static/images/vk-icon.png" onclick="location.href='https://vk.com/feed';">
            </div>
        </div>
        <div class="bottom-information">
            © Все права защищены "ГК Дороги России" 2024 г.
        </div>
    </footer>
</body>
</html>