.top-part-of-search-block {
    display: flex;
}

.calendar {
    margin-left: 1em
}

.select-form {
    background-color: #04312e;
    margin-top: 1em;
    padding: 1em;
    border-radius: 8px;
    height: min-content;
}

.select-form>p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.select-form>select {
    background-color: #136f63;
    padding: 0.5em;
    color: white;
    border: 1px;
    border-radius: 8px;
    font-size: 16px;
    width: min-content;
}

.select-form>select>option {
    background-color: #178678;
    padding: 0.5em;
    color: white;
    border: 1px;
    border-radius: 8px;
    font-size: 16px;
}

.select-form>select:hover {
    background-color: #1b9c8b;
}

.select-form>input {
    display: block;
    margin-top: 1em;
    background-color: #136f63;
    color: white;
    padding: 1em;
    border: 1px;
    font-size: 16px;
    border-radius: 8px;
}

.select-form>input:hover {
    background-color: #188079;
}

@media (max-width: 1500px) {
    main {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }
    .nav-buttons {
        padding: 0;
        margin: 0;
        margin-bottom: 1em;
        flex-direction: row;
    }
    .nav-buttons>a {
        width: 100%;
        margin: 0;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
    }
    .top-part-of-search-block {
        margin-left: 1em;
    }
}

@media(max-width: 1150px) {
    .top-part-of-search-block {
        flex-direction: column;
    }

    .select-form {
        width: max-content
    }

    .calendar {
        margin-left: 0;
        font-size: 14px;
    }
}

@media(max-width: 1000px) {
    .search-block {
        display: flex;
        flex-direction: column;
    }

    .select-form {
        width: 80%;
    }

    .user-card {
        margin: 0;
        margin-top: 1em;
        font-size: 16px;
        width: 80%;
    }

    .top-part-of-user-card {
        flex-direction: row;
    }
}

@media(max-width: 700px) {
    .search-block {
        margin-left: 1em;
    }
    .select-form>select {
        font-size: 14px;
    }
    .select-form>input {
        font-size: 14px;
    }
    .select-form>select>option {
        font-size: 14px;
        min-height: 14px;
    }
}

@media(max-width: 600px) {
    .select-form {
        width: calc(100% - 3em);
        margin-right: 1em;
    }
    .select-form>select {
        width: 100%;
        text-overflow: ellipsis;
    }
}

@media(max-width: 400px) {
    .select-form>p {
        font-size: 14px;
    }
    .select-form>select {
        font-size: 14px;
    }
    .select-form>select>option {
        font-size: 14px;
    }
    .select-form>input {
        font-size: 14px;
    }
    h2 {
        font-size: 14px;
        margin-right: 0.5em;
    }
    .user-card {
        font-size: 12px;
    }
}