.all-learnings {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.one-learning {
    background-color: #136f63;
    margin: 1em;
    margin-left: 0;
    padding: 1em;
    border-radius: 16px;
    opacity: 0.95;
    cursor: pointer;
}

.learning-title {
    font-style: italic;
}

.learning-text {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: justify;
    font-size: 14px;
}

.learning-bottom-part {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.user-img {
    border-radius: 50%;
}

.learning-date>img,.learning-author>img {
    width: 1.5em;
    vertical-align: middle;
}

.learning-date>span,.learning-author>span{
    vertical-align: middle;
}

@media(max-width: 700px) {
    .all-learnings {
        margin-left: 1em;
    }
}

@media(max-width: 500px) {
    .all-learnings {
        grid-template-columns: 1fr;
    }
}