.search-block {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

.select-form {
    background-color: #22aaa1;
    margin-top: 1em;
    padding: 1em;
    border-radius: 8px;
}

.select-form>p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.select-form>select {
    background-color: #136f63;
    padding: 0.5em;
    color: white;
    border: 1px;
    border-radius: 8px;
    font-size: 16px;
}

.select-form>select>option {
    background-color: #178678;
    padding: 0.5em;
    color: white;
    border: 1px;
    border-radius: 8px;
    font-size: 16px;
}

.select-form>select:hover {
    background-color: #1b9c8b;
}

.select-form>input {
    display: block;
    margin-top: 1em;
    background-color: #136f63;
    color: white;
    padding: 1em;
    border: 1px;
    font-size: 16px;
    border-radius: 8px;
}

.select-form>input:hover {
    background-color: #188079;
}

.user-card {
    background-color: #22aaa1;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    height: min-content;
}

h2 {
    display: inline;
    line-height: 5em;
    vertical-align: middle;
}

.top-part-of-user-card {
    display: flex;
    justify-content: space-between;
}

.top-part-of-user-card>img {
    border-radius: 50%;
    background-color: #136f63;
    width: 7em;
    padding: 0.5em;
    text-align: right;
}

.user-card>p {
    margin-top: 1em;
}

@media(max-width: 1350px) {
    h2 {
        font-size: 16px;
    }
}

@media(max-width: 1200px) {
    .top-part-of-user-card>img {
        width: 5em;
    }
}

@media(max-width: 1150px) {
    h2 {
        line-height: min-content;
    }
    .top-part-of-user-card {
        flex-direction: column;
    }
}

@media(max-width: 1050px) {
    .user-card {
        font-size: 14px;
    }
}

@media(max-width: 1000px) {
    .search-block {
        display: flex;
        flex-direction: column;
    }

    .select-form {
        width: min-content;
    }

    .user-card {
        margin: 0;
        margin-top: 1em;
        font-size: 16px;
        width: max-content;
    }

    .top-part-of-user-card {
        flex-direction: row;
    }
}

@media(max-width: 700px) {
    .search-block {
        margin-left: 1em;
    }
}

@media(max-width: 400px) {
    .select-form>p {
        font-size: 14px;
    }

    .select-form>select {
        font-size: 14px;
    }

    .select-form>select>option {
        font-size: 14px;
    }

    .select-form>input {
        font-size: 14px;
    }
    h2 {
        font-size: 14px;
        margin-right: 0.5em;
    }
    .user-card {
        font-size: 12px;
    }
}