@font-face {
	font-family: 'CodecPro'; 
	src: url(../fonts/CodecPro/CodecPro-Light.ttf); 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'CodecPro';
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background: linear-gradient(90deg, rgba(59, 214, 113, 0) 14.83%, rgba(59, 214, 113, 0.24) 99.48%), rgb(19, 26, 38);
}


main {
    display: grid;
    grid-template-columns: 1.5fr 6fr 3fr;
    grid-template-rows: 1fr;
    min-height: calc(100vh - 250px);
}

::placeholder {
    color: rgb(48, 48, 48);
}

@media(max-width: 1200px) {
    main {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }
}
